<% provide(:title, @user.name) %>
<h1><%= @user.name %>のマイページ</h1>

<div class="row">
  <div class="hospital-box">
    <section class="user_info">
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
      <div>
        <p><span class="glyphicon glyphicon-envelope"><%= @user.email %></span></p>
        <p><span class="glyphicon glyphicon-home"><%= @user.address %></span></p>
        <p><span class="glyphicon glyphicon-earphone"><%= @user.phone_number %></span></p>
        <div>
          <%= link_to "プロフィール変更", edit_user_path(current_user) %>
        </div>
        <div>
          <%= link_to "ログアウト", logout_path, method: :delete %>
        </div>
      </div>
    </section>
  </div>
</div>


