<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
        <h4>メールアドレス： <%= @user.email %></h4>
        <h4>住所： <%= @user.address %></h4>
        <h4>電話番号： <%= @user.phone_number %></h4>
    </section>
  </aside>
</div>

