<% provide(:title, "Hospital_items_list") %>

<h1><%= @hospital.name %>の必要物資一覧</h1>
<div class="row">
  <% if @hospital_items.present? %>
    <% @hospital.items.each do |item| %>
      <div class="item-box">
        <div class="img">
          <div class="img-wrap">
            <% if item.image_url %>
              <img src="<%= item.image_url %>" alt="商品画像">
            <% else %>
              <p>no image</p>
            <% end %>
            <div class="card-body">
              <p class="card-text"><%= item.name %></p>
              <p class="card-text"><%= item.price %>円</p>
            </div>
            <div class="buttons">
              <a href="<%= item.item_url %>" target="_blank">
                <button class="btn btn-primary">詳細</button>
              </a>
              <% if logged_in? %>
                <form action="" method="post">
                  <input type="hidden" name="hospital_id" value="<%= @hospital.id %>">
                  <input type="hidden" name="item_id" value="<%= item.id %>">
                  <input type="submit" value="支援する" class="btn btn-warning">
                </form>
              <% else %>
                <%= form_with url: shortage_item_path(current_hospital) do |f| %>
                <%= f.hidden_field :name, value: item.name %>
                <%= f.hidden_field :price, value: item.price %>
                <%= f.hidden_field :image_url, value: item.image_url %>
                <%= f.hidden_field :item_code, value: item.item_code %>
                <%= f.hidden_field :item_url, value: item.item_url %>
                <%= f.submit "不足中", class: "btn btn-warning" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>