<% provide(:title, "Pay") %>

<h1><%= @user.name %>の支援表明一覧</h1>

<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>商品名</th>
        <th>寄付先</th>
        <th>値段</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @hospital_items.each do |hospital_item| %>
        <% item = Item.find(hospital_item.item_id) %>
        <% hospital = Hospital.find(hospital_item.hospital_id) %>
          <tr>
            <td><%= item.name.truncate(60) %></td>
            <td><%= hospital.name %>に寄付</td>
            <td><%= item.price %>円</td>
            <td><a href="<%= item.item_url %>" target="_blank">詳細</a></td>
            <% @sum += item.price.to_i %>
          </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <p>合計金額： <span class="text-danger h3"><%= @sum %>円</span></p>
    
    <%= form_with url: user_pay_path do |f| %>
      <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_f4c5fda13b17c3f3d475118b"></script>
      <%= f.hidden_field :pay_price, value: @sum %>
    <% end %>
  </div>
</div>