<% provide(:title, @hospital.name) %>
<h1><%= @hospital.name %>のマイページ</h1>

<div class="row">
  <div class="hospital-box">
    <h3>
      <%= gravatar_for @hospital %>
    <%= @hospital.name %>
    </h3>
    <div>
      <p><span class="glyphicon glyphicon-envelope"><%= @hospital.email %></span></p>
      <p><span class="glyphicon glyphicon-home"><%= @hospital.address %></span></p>
      <p><span class="glyphicon glyphicon-earphone"><%= @hospital.phone_number %></span></p>
      <p><span class="glyphicon glyphicon-user"><%= @hospital.representative %></span></p>
    </div>
    <div>
      <%= link_to "プロフィール変更", edit_hospital_path(current_hospital) %>
    </div>
    <div>
      <%= link_to "ログアウト", hospital_logout_path, method: :delete %>
    </div>
  </div>
</div>