<% if @items.present? %>
  <h3>検索結果</h3>
  <div class="row">
    <div>
      <% @items.first(10).each do |item| %>
        <div class="item-box">
          <div class="img">
            <div class="img-wrap">
              <% if item['mediumImageUrls'].present? %>
                <img src="<%= item['mediumImageUrls'][0] %>" class="card-img-top" alt="画像" >
              <% else %>
                <p>No Image</p>
              <% end %>
              <div class="card-body">
                <p class="card-text"><%= item['itemName'].truncate(30) %></p>
                <p class="card-text"><%= item['itemPrice'] %>円</p>
              </div>
              <div class="buttons">
                <%= link_to(<%= item['itemUrl'] %>, target: "_blank") do %>
                  <button class="btn btn-primary">詳細</button>
                <% end %>
                <%= form_for @item, url: {action: "update"} do |f| %>
                  <%= f.hidden_field :name, value: "<%= item['itemName'] %>" %>
                  <%= f.hidden_field :price, value: "<%= item['itemPrice'] %>" %>
                  <% if item['mediumImageUrls'].present? %>
                    <%= f.hidden_field :image_url, value: "<%= item['mediumImageUrls'][0] %>" %>
                  <% end %>
                  <%= f.hidden_field :item_code, value: "<%= item['itemCode'] %>" %>
                  <%= f.hidden_field :item_url, value: "<%= item['itemUrl'] %>" %>
                  <%= f.submit "不足中", class: "btn btn-warning" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
