<% if @items.present? %>
  <h3>検索結果</h3>
  <div class="row">
    <div>
      <% @items.first(10).each do |item| %>
        <div class="item-box">
          <div class="img">
            <div class="img-wrap">
              <% if item['mediumImageUrls'].present? %>
                <img src="<%= item['mediumImageUrls'][0] %>" class="card-img-top" alt="画像" >
              <% else %>
                <p>No Image</p>
              <% end %>
              <div class="card-body">
                <p class="card-text"><%= item['itemName'].truncate(30) %></p>
                <p class="card-text"><%= item['itemPrice'] %>円</p>
              </div>
              <div class="buttons">
                <a href="<%= item['itemUrl'] %>" target="_blank">
                  <button class="btn btn-primary">詳細</button>
                </a>
                <%= form_with url: shortage_item_path(current_hospital) do |f| %>
                  <%= f.hidden_field :name, value: item.name %>
                  <%= f.hidden_field :price, value: item.price %>
                  <% if item['mediumImageUrls'].present? %>
                    <%= f.hidden_field :image_url, value: item.medium_image_urls.first %>
                  <% end %>
                    <%= f.hidden_field :item_code, value: item.code %>
                    <%= f.hidden_field :item_url, value: item.url %>
                    <%= f.submit "不足中", class: "btn btn-warning" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
