<% provide(:title, "病院ログイン") %>
<h1>病院ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: hospital_login_path) do |f| %>

    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
    <% end %>
    <%= f.label :remember_me %>

    <%= f.submit "ログイン", class: "btn btn-warning" %>
  <% end %>

  <p>新規の病院ですか？ <%= link_to "病院新規登録", new_hospital_path %></p>
  </div>
</div>
