<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Coid", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "支援物資一覧", item_path(current_user) %></li>
          <li><%= link_to "チャット", "#" %></li>
          <li><%= link_to "登録病院リスト", hospitals_path %></li>
          <li><%= link_to "マイページ", current_user %></li>
        <% elsif hospital_logged_in? %>
          <li><%= link_to "必要物資追加", search_path %></li>
          <li><%= link_to "支援者リスト", support_list_path(current_hospital) %></li>
          <li><%= link_to "チャット", "#" %></li>
          <li><%= link_to "登録病院リスト", hospitals_path %></li>
          <li><%= link_to "マイページ", current_hospital %></li>
        <% else %>
          <li><%= link_to "病院ログイン", hospital_login_path %></li>
          <li><%= link_to "ユーザーログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>